UPLOADS_BUCKET_NAME="cruddur-uploaded-avatars.tmanuel.cloud"
ASSETS_BUCKET_NAME="assets.tmanuel.cloud"
THUMBING_S3_FOLDER_OUTPUT="avatars/processed"
THUMBING_WEBHOOK_URL="http://api.tmanuel.cloud/webhooks/avatar"
THUMBING_TOPIC_NAME="cruddur-assets"
THUMBING_FUNCTION_PATH="/workspace/aws-bootcamp-cruddur-2023/aws/lambdas/process-images"